:root {
  --ds-background-default: #ffffff;
  --ds-background-neutral: #dfe1e6;
  --ds-background-neutral-subtle: #f4f5f7;
  --ds-text: #172b4d;
  --ds-text-subtle: #6b778c;
  --ds-surface: #ffffff;
  --ds-surface-overlay: #ffffff;
  --ds-surface-raised: #ffffff;
  --ds-shadow-raised: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--ds-background-default);
  color: var(--ds-text);
  /* overflow: hidden; removed to allow page scroll */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}